<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension point="org.eclipse.ui.commands">
        <category name="Eemory Category" id="com.prairie.eemory.commands.category">
        </category>
        <command name="Clip to Evernote" categoryId="com.prairie.eemory.commands.category" id="com.prairie.eemory.commands.ClipToEvernote">
            <commandParameter id="com.prairie.eemory.command.parameter" name="Command Parameter" optional="true">
            </commandParameter>
        </command>
        <command name="Clip File to Evernote" categoryId="com.prairie.eemory.commands.category" id="com.prairie.eemory.commands.ClipFileToEvernote">
            <commandParameter id="com.prairie.eemory.command.parameter" name="Command Parameter" optional="true">
            </commandParameter>
        </command>
        <command name="Clip Selection to Evernote" categoryId="com.prairie.eemory.commands.category" id="com.prairie.eemory.commands.ClipSelectionToEvernote">
            <commandParameter id="com.prairie.eemory.command.parameter" name="Command Parameter" optional="true">
            </commandParameter>
        </command>
        <command name="Clip Screenshot to Evernote" categoryId="com.prairie.eemory.commands.category" id="com.prairie.eemory.commands.ClipScreenshotToEvernote">
            <commandParameter id="com.prairie.eemory.command.parameter" name="Command Parameter" optional="true">
            </commandParameter>
        </command>
        <command name="Clip Configurations..." categoryId="com.prairie.eemory.commands.category" id="com.prairie.eemory.commands.Configurations">
            <commandParameter id="com.prairie.eemory.command.parameter" name="Command Parameter" optional="true">
            </commandParameter>
        </command>
    </extension>
    <!--extension point="org.eclipse.ui.commandImages"> <image commandId="com.prairie.eemory.commands.ClipFileToEvernote"
    icon="icons/icon_file_16x16.png"/> <image commandId="com.prairie.eemory.commands.ClipSelectionToEvernote"
    icon="icons/icon_selection_16x16.png"/> </extension -->
    <extension point="org.eclipse.ui.handlers">
        <handler name="Eemory Handler" commandId="com.prairie.eemory.commands.ClipToEvernote" class="com.prairie.eemory.handlers.EeHandler">
            <enabledWhen>
                <or>
                    <with variable="selection">
                        <iterate ifEmpty="false" operator="and">
                            <or>
                                <adapt type="org.eclipse.core.resources.IFile" />
                                <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
                            </or>
                        </iterate>
                    </with>
                    <with variable="selection">
                        <adapt type="org.eclipse.jface.text.ITextSelection" />
                    </with>
                </or>
            </enabledWhen>
        </handler>
        <handler name="Eemory Handler" commandId="com.prairie.eemory.commands.ClipFileToEvernote" class="com.prairie.eemory.handlers.EeHandler">
        </handler>
        <handler name="Eemory Handler" commandId="com.prairie.eemory.commands.ClipSelectionToEvernote" class="com.prairie.eemory.handlers.EeHandler">
            <enabledWhen>
                <with variable="selection">
                    <instanceof value="org.eclipse.jface.text.ITextSelection" />
                </with>
            </enabledWhen>
        </handler>
        <handler name="Eemory Handler" commandId="com.prairie.eemory.commands.ClipScreenshotToEvernote" class="com.prairie.eemory.handlers.EeHandler">
        </handler>
        <handler name="Eemory Handler" commandId="com.prairie.eemory.commands.Configurations" class="com.prairie.eemory.handlers.EeHandler">
        </handler>
    </extension>
    <!--extension point="org.eclipse.ui.bindings"> <key commandId="com.prairie.eemory.commands.ClipFileToEvernote"
    contextId="org.eclipse.ui.contexts.window" sequence="M1+6" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
    </key> <key commandId="com.prairie.eemory.commands.ClipSelectionToEvernote"
    contextId="org.eclipse.ui.contexts.window" sequence="M1+8" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
    </key> </extension -->
    <extension point="org.eclipse.ui.menus">

        <menuContribution
                locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar
                    id="com.prairie.eemory.toolbars.ClipToEvernoteToolbar">
                <command style="pulldown"
                        commandId="com.prairie.eemory.commands.ClipToEvernote"
                        icon="icons/icon_evernote_16x16.png" tooltip="%ClipToEvernote"
                        id="com.prairie.eemory.toolbars.ClipToEvernoteCommand">
                    <parameter name="com.prairie.eemory.command.parameter"
                            value="Clip to Evernote">
                    </parameter>
                </command>
            </toolbar>
        </menuContribution>
        <menuContribution
                locationURI="menu:com.prairie.eemory.toolbars.ClipToEvernoteCommand">
            <!--menu label="Sample Menu" mnemonic="M" id="com.prairie.eemory.menus.sampleMenu" -->
            <command label="%ClipSelectionToEvernote" icon="icons/icon_selection_16x16.png"
                    commandId="com.prairie.eemory.commands.ClipSelectionToEvernote">
                <parameter name="com.prairie.eemory.command.parameter"
                        value="Clip Selection to Evernote">
                </parameter>
            </command>
            <command label="%ClipFileToEvernote" icon="icons/icon_file_16x16.png"
                    commandId="com.prairie.eemory.commands.ClipFileToEvernote">
                <parameter name="com.prairie.eemory.command.parameter"
                        value="Clip File to Evernote">
                </parameter>
            </command>
            <command label="%ClipScreenshotToEvernote" icon="icons/icon_screenshot_16x16.png"
                    commandId="com.prairie.eemory.commands.ClipScreenshotToEvernote">
                <parameter name="com.prairie.eemory.command.parameter"
                        value="Clip Screenshot to Evernote">
                </parameter>
            </command>
            <separator name="separatorLine" visible="true">
            </separator>
            <command label="%ClipConfigs"
                    commandId="com.prairie.eemory.commands.Configurations">
                <parameter name="com.prairie.eemory.command.parameter"
                        value="Clip Configurations...">
                </parameter>
            </command>
            <!--/menu -->
        </menuContribution>

        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu label="%ClipToEvernote" icon="icons/icon_evernote_16x16.png"
                    id="com.prairie.eemory.popupMenu">
                <command label="%ClipSelectionToEvernote" icon="icons/icon_selection_16x16.png"
                        commandId="com.prairie.eemory.commands.ClipSelectionToEvernote">
                    <parameter name="com.prairie.eemory.command.parameter"
                            value="Clip Selection to Evernote">
                    </parameter>
                </command>
                <command label="%ClipFileToEvernote" icon="icons/icon_file_16x16.png"
                        commandId="com.prairie.eemory.commands.ClipFileToEvernote">
                    <parameter name="com.prairie.eemory.command.parameter"
                            value="Clip File to Evernote">
                    </parameter>
                </command>
                <command label="%ClipScreenshotToEvernote" icon="icons/icon_screenshot_16x16.png"
                        commandId="com.prairie.eemory.commands.ClipScreenshotToEvernote">
                    <parameter name="com.prairie.eemory.command.parameter"
                            value="Clip Screenshot to Evernote">
                    </parameter>
                </command>
                <separator name="separatorLine" visible="true">
                </separator>
                <command label="%ClipConfigs"
                        commandId="com.prairie.eemory.commands.Configurations">
                    <parameter name="com.prairie.eemory.command.parameter"
                            value="Clip Configurations...">
                    </parameter>
                </command>
                <visibleWhen checkEnabled="false">
                    <or>
                        <with variable="activeMenuSelection">
                            <iterate ifEmpty="false" operator="and">
                                <or>
                                    <adapt type="org.eclipse.core.resources.IFile" />
                                    <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
                                </or>
                            </iterate>
                        </with>
                        <with variable="activeMenuEditorInput">
                            <iterate ifEmpty="false" operator="and">
                                <adapt type="org.eclipse.core.resources.IFile" />
                            </iterate>
                        </with>
                    </or>
                </visibleWhen>
            </menu>
        </menuContribution>

    </extension>

</plugin>
