<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.commands">
		<category name="EEvernote Category" id="com.prairie.eevernote.commands.category">
		</category>
		<command name="Clip to Evernote" categoryId="com.prairie.eevernote.commands.category" id="com.prairie.eevernote.commands.ClipToEvernote">
			<commandParameter id="com.prairie.eevernote.command.parameter" name="Command Parameter" optional="true">
			</commandParameter>
		</command>
		<command name="Clip File to Evernote" categoryId="com.prairie.eevernote.commands.category" id="com.prairie.eevernote.commands.ClipFileToEvernote">
			<commandParameter id="com.prairie.eevernote.command.parameter" name="Command Parameter" optional="true">
			</commandParameter>
		</command>
		<command name="Clip Selection to Evernote" categoryId="com.prairie.eevernote.commands.category" id="com.prairie.eevernote.commands.ClipSelectionToEvernote">
			<commandParameter id="com.prairie.eevernote.command.parameter" name="Command Parameter" optional="true">
			</commandParameter>
		</command>
		<command name="Clip Screenshot to Evernote" categoryId="com.prairie.eevernote.commands.category" id="com.prairie.eevernote.commands.ClipScreenshotToEvernote">
			<commandParameter id="com.prairie.eevernote.command.parameter" name="Command Parameter" optional="true">
			</commandParameter>
		</command>
		<command name="EEvernote Configurations..." categoryId="com.prairie.eevernote.commands.category" id="com.prairie.eevernote.commands.Configurations">
			<commandParameter id="com.prairie.eevernote.command.parameter" name="Command Parameter" optional="true">
			</commandParameter>
		</command>
	</extension>
	<!--extension point="org.eclipse.ui.commandImages"> <image commandId="com.prairie.eevernote.commands.ClipFileToEvernote"
		icon="icons/icon_file_16x16.png"/> <image commandId="com.prairie.eevernote.commands.ClipSelectionToEvernote"
		icon="icons/icon_selection_16x16.png"/> </extension -->
	<extension point="org.eclipse.ui.handlers">
		<handler name="EEvernote Handler" commandId="com.prairie.eevernote.commands.ClipToEvernote" class="com.prairie.eevernote.handlers.EEHandler">
			<enabledWhen>
		        <or>
           	        <with variable="selection">
	                    <iterate ifEmpty="false" operator="and">
	                        <or>
	                            <adapt type="org.eclipse.core.resources.IFile" />
	                            <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
	                        </or>
	                    </iterate>
           		    </with>
           			<with variable="selection">
                 	    <adapt type="org.eclipse.jface.text.ITextSelection" />
              	    </with>
                </or>
			</enabledWhen>
		</handler>
		<handler name="EEvernote Handler" commandId="com.prairie.eevernote.commands.ClipFileToEvernote" class="com.prairie.eevernote.handlers.EEHandler">
		</handler>
		<handler name="EEvernote Handler" commandId="com.prairie.eevernote.commands.ClipSelectionToEvernote" class="com.prairie.eevernote.handlers.EEHandler">
			<enabledWhen>
			    <with variable="selection">
			        <instanceof value="org.eclipse.jface.text.ITextSelection" />
				</with>
		    </enabledWhen>
		</handler>
		<handler name="EEvernote Handler" commandId="com.prairie.eevernote.commands.ClipScreenshotToEvernote" class="com.prairie.eevernote.handlers.EEHandler">
		</handler>
		<handler name="EEvernote Handler" commandId="com.prairie.eevernote.commands.Configurations" class="com.prairie.eevernote.handlers.EEHandler">
		</handler>
	</extension>
	<!--extension point="org.eclipse.ui.bindings"> <key commandId="com.prairie.eevernote.commands.ClipFileToEvernote"
		contextId="org.eclipse.ui.contexts.window" sequence="M1+6" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key> <key commandId="com.prairie.eevernote.commands.ClipSelectionToEvernote"
		contextId="org.eclipse.ui.contexts.window" sequence="M1+8" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key> </extension -->
	<extension point="org.eclipse.ui.menus">

		<menuContribution
			locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar
				id="com.prairie.eevernote.toolbars.ClipToEvernoteToolbar">
				<command style="pulldown"
					commandId="com.prairie.eevernote.commands.ClipToEvernote"
					icon="icons/icon_evernote_16x16.png" tooltip="Clip to Evernote"
					id="com.prairie.eevernote.toolbars.ClipToEvernoteCommand">
					<parameter name="com.prairie.eevernote.command.parameter"
						value="Clip to Evernote">
					</parameter>
				</command>
			</toolbar>
		</menuContribution>
		<menuContribution
			locationURI="menu:com.prairie.eevernote.toolbars.ClipToEvernoteCommand">
			<!--menu label="Sample Menu" mnemonic="M" id="com.prairie.eevernote.menus.sampleMenu" -->
			<command label="Clip Selection to Evernote" icon="icons/icon_selection_16x16.png"
				commandId="com.prairie.eevernote.commands.ClipSelectionToEvernote">
				<parameter name="com.prairie.eevernote.command.parameter"
					value="Clip Selection to Evernote">
				</parameter>
			</command>
			<command label="Clip File to Evernote" icon="icons/icon_file_16x16.png"
				commandId="com.prairie.eevernote.commands.ClipFileToEvernote">
				<parameter name="com.prairie.eevernote.command.parameter"
					value="Clip File to Evernote">
				</parameter>
			</command>
			<command label="Clip Screenshot to Evernote" icon="icons/icon_screenshot_16x16.png"
				commandId="com.prairie.eevernote.commands.ClipScreenshotToEvernote">
				<parameter name="com.prairie.eevernote.command.parameter"
					value="Clip Screenshot to Evernote">
				</parameter>
			</command>
			<separator name="separatorLine" visible="true">
			</separator>
			<command label="EEvernote Configurations..."
				commandId="com.prairie.eevernote.commands.Configurations">
				<parameter name="com.prairie.eevernote.command.parameter"
					value="EEvernote Configurations...">
				</parameter>
			</command>
			<!--/menu -->
		</menuContribution>

		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu label="EEvernote" icon="icons/icon_evernote_16x16.png"
				id="com.prairie.eevernote.popupMenu">
				<command label="Clip Selection to Evernote" icon="icons/icon_selection_16x16.png"
					commandId="com.prairie.eevernote.commands.ClipSelectionToEvernote">
					<parameter name="com.prairie.eevernote.command.parameter"
						value="Clip Selection to Evernote">
					</parameter>
				</command>
				<command label="Clip File to Evernote" icon="icons/icon_file_16x16.png"
					commandId="com.prairie.eevernote.commands.ClipFileToEvernote">
					<parameter name="com.prairie.eevernote.command.parameter"
						value="Clip File to Evernote">
					</parameter>
				</command>
				<command label="Clip Screenshot to Evernote" icon="icons/icon_screenshot_16x16.png"
					commandId="com.prairie.eevernote.commands.ClipScreenshotToEvernote">
					<parameter name="com.prairie.eevernote.command.parameter"
						value="Clip Screenshot to Evernote">
					</parameter>
				</command>
				<separator name="separatorLine" visible="true">
				</separator>
				<command label="EEvernote Configurations..."
					commandId="com.prairie.eevernote.commands.Configurations">
					<parameter name="com.prairie.eevernote.command.parameter"
						value="EEvernote Configurations...">
					</parameter>
				</command>
				<visibleWhen checkEnabled="false">
               	    <or>
               	    	<with variable="activeMenuSelection">
		                    <iterate ifEmpty="false" operator="and">
		                        <or>
		                            <adapt type="org.eclipse.core.resources.IFile" />
		                            <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
		                        </or>
		                    </iterate>
               			</with>
               			<with variable="activeMenuEditorInput">
                     		<iterate ifEmpty="false" operator="and">
		                        <adapt type="org.eclipse.core.resources.IFile" />
		                    </iterate>
                  		</with>
               	    </or>
            	</visibleWhen>
			</menu>
		</menuContribution>

	</extension>

</plugin>